<% if admin_types.include?(current_user.try(:type)) %>
	<%= render 'admin' %>
<% else %>
	<%= render 'employee' %>
	<% end %>

<!-- <h1>Timetrack</h1>
<div class="jumbotron">
			
				<p>
                    This is how to keep track of your hours on a weekly basis. You can request Overtime to be approved by a selected admin.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Submit Hours</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Hours Worked
			</h2>
			<p>
            <ul>
               <li> Sunday: </li>
              <li>  Monday: </li>
               <li> Tuesday: </li>
               <li> Wednesday:</li>
              <li>  Thursday:</li>
               <li> Friday:</li>
               <li> Saturday:</li>
                </ul>
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Hours to be approved
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				News and Events
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div> -->